@{
    ViewData["Title"] = "Ayuda";
}

<div class = "acc-ayuda">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Tutorial
            </button></h2>

            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            
            @* PONER LA MISMA CLASE QUE OTROS BOTONES *@
                <div class="accordion-body">
                    <button type="button" class="tuto-css"> 
                        <a href='@Url.Action("Tutorial", "Account")'>Ir al tutorial</a>
                    </button>     
                </div>
            </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           ¿asdad?
        </button></h2>

        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                asdasd
            </div>
        </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            hola
        </button></h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
            asdas
            </div>
        </div>
    </div>
</div>
