@{
    ViewData["Title"] = "Ayuda";
}

<div class = "acc-ayuda">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Tutorial
            </button></h2>

            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            
                <form method="post" action='@Url.Action("Tutorial", "Account")'>
                    <div class = "inicio-button">
                        <h3><button type = "submit">Ir al tutorial</button></h3>
                    </div>
                </form>

            </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           Reportar un problema
        </button></h2>
        

        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Manda un correo al soporte de SAFELI : safeli.app@gmail.com
                   
            </div>
        </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Estado de cuenta
        </button></h2>
        
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
            <p>Creacion de la cuenta: 20/10/2008</p>
            <p>Plan: Cuota al dia</p>
            <p>Proximo pago: 30/11</P>
            <p>Autenticacion en dos pasos: Desactivada</p>


            </div>
        </div>
    </div>
</div>
