@{
    ViewData["Title"] = "Cambio de contraseña";
}

<form method="post" action='@Url.Action("CambiarPassword", "Account")'>
   <div class = "input-NewPass">
        <input type="text" name="username" id="Username-forgot" placeholder ="Usuario"/>
        <input type="password" name="nuevaContraseña" id="password - forgot1" placeholder ="Nueva Contraseña"/>
        
        <div class="passw-forgot">
            <input type="password" name="pass2" id="pass-confirm" placeholder ="Nueva Contraseña"/>
            <i class="fa-solid fa-eye-slash toggle-password2" id="togglePassword"></i>
    
        <div class="NewPass-button">
            <button type="submit">Cambiar Contraseña</button>
        </div>
    </div>
</form>

<a href='@Url.Action("Index", "Home")'>Volver al Inicio de Sesión</a><br>
