@{
    ViewData["Title"] = "Cambio de contraseña";
}

<form method="post" action='@Url.Action("OlvidePassword", "Account")'>
   
   <div class = "input-NewPass">
        <input type = "text" id="Username-forgot" placeholder ="Usuario"/>
        <input type = "password" id="password - forgot1" placeholder ="Nueva Contraseña"/>
        
        <div class = "passw-forgot">
            <input type = "password" id="pass-confirm" placeholder ="Nueva Contraseña"/>
            <i class="fa-solid fa-eye toggle-password2" id="togglePassword2"></i>
    
        <div class = "NewPass-button">
            <button type="submit">Cambiar Contraseña</button>
        </div>
    </div>
</form>

<a href='@Url.Action("Index", "Home")'>Volver al Inicio de Sesión</a><br>
