@{
    ViewData["Title"] = "Permisos";
}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <h3>Acá podés activar o desactivar permisos</h3>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="permisos">
    <input type="checkbox"> <h3>Compartir ubicación</h3>
</div>
<div class="permisos">
    <input type="checkbox"> <h3>Recibir notificaciones</h3>
</div>
