@{
    ViewData["Title"] = "Sign Up";
}

<h2>@ViewBag.mensaje</h2>
<form method="post" enctype="multipart/form-data" action='@Url.Action("CrearCuenta", "Account")'>
    <div class = "input-center">
        <input type="text" name="nombre" id="Nombre" placeholder ="Nombre" required autocomplete="off"/>
        <input type="text" name="apellido" id="Apellido" placeholder ="Apellido" required autocomplete="off"/>
        <input type="text" name="email" id="Mail" placeholder ="Mail"required/>
        <input type="number" name="telefono" id="Telefono" placeholder="Nro de Telefono" maxlength="10" required autocomplete="off">
        <input type="text" name="username" id="NombreDeUsuario" placeholder ="Nombre de Usuario" required autocomplete="off"/>
        
        <div class = "contra-signUp">
            <input type="password" name="password" id="pass-1" placeholder ="Contraseña" required/>
            <i class="fa-solid fa-eye-slash toggle-password" id="togglePassword2"required></i> <br>
        </div>
        
        <div class = "contra-signUp">
            <input type="password" name="pass2" id="pass-confirm" placeholder ="Contraseña"required/>
            <i class="fa-solid fa-eye-slash toggle-password" id="togglePassword"required></i> <br>
        </div>
        
        <input type="Date" name="fecha" id="Fecha" placeholder ="Fecha de Nacimiento" required/>
        <input type="file" name="foto" id="Foto" placeholder="Foto de Perfil">
        
        <div class = "create-button">
            <button type="submit">Crear Cuenta</button><br>
        </div>
    </div>
</form>

<div class = "sign-a">
    <a href='@Url.Action("Index", "Home")'>Volver al Inicio de Sesión</a><br>
</div>
