@{
    ViewData["Title"] = "Log In";
}

<h1>¡Bienvenido/a!</h1>
<form method="post" action='@Url.Action("IniciarSesion", "Account")'>
   
   <div class = "input-center">
        <input type = "text" id="Username" placeholder ="Ingrese su Usuario"/> 
        <div class = "passw">
            <input type = "password" id="password" placeholder ="Ingrese su Contraseña"/>
            <i class="fa-solid fa-eye toggle-password" id="togglePassword"></i> <br>
        </div>
    </div>
    
    <a href='@Url.Action("OlvidePassword", "Account")'>¿Te olvidaste la contraseña?</a><br>
    
    <div class = "checkbox-div">
        <input type="checkbox"> Mantenerme iniciado/a 
    </div>

    <div class = "inicio-button">
        <button type="submit">Iniciar Sesión</button><br>
    </div>

    <h3>¿Todavía no tenes cuenta?</h3>
    <a href='@Url.Action("SignUp", "Account")'>Registrate</a>
</form>