@{
    ViewData["Title"] = "Home";
}
<h2>Your orbits</h2>
<img src="Imagenes/" alt="FotoOrit">
<h2>Your orbits</h2>
<img src="Imagenes/" alt="FotoOrit">
<h2>Your orbits</h2>

<form method="post" action="index.html" target="_blank">
    <input type="text" placeholder="Link Para unirse a un orbit">
    <button type="submit">
       Ingresar
    </button>
</form>