@{
    ViewData["Title"] = "SOS";
}
<!-- que te diga a que números llamar pero no  -->
@if(ViewBag.contactoEmergencia != -1){
    <button type="button" class="SOS" 
            onclick="window.location.href = 'tel:@ViewBag.contactoEmergencia';">
        Llamar a Contacto de Emergencia
    </button>
}
<button type="button" class="SOS" 
        onclick="window.location.href = 'tel: 101';">
    Llamar a Policia
</button>
<button type="button" class="SOS" 
        onclick="window.location.href = 'tel: 107';">
    Llamar a Ambulancia
</button>
<button type="button" class="SOS" 
        onclick="window.location.href = 'tel: 100';">
    Llamar a Bomberos
</button> 
<button type="button" class="btn btn-outline-danger">Cancel</button>

<script src="site.js"></script>