@{
    ViewData["Title"] = "SOS";
}

<h2>Números de emergencia</h2>

<button type="button" class = "SOS"><a href='@Url.Action("SOS", "Home")' LLamar a contacto></a></button>
<button type="button"class = "SOS"><a href='@Url.Action("SOS", "Home")' Policia></a></button>
<button type="button"class = "SOS"><a href='@Url.Action("SOS", "Home")' Ambulancia></a></button>
<button type="button" class = "SOS"><a href='@Url.Action("SOS", "Home")' Bomberos></a></button>
 
 

