@{
    ViewData["Title"] = "SOS";
}


<div class="contenedor-sos">
  <h2>Números de emergencia</h2>
  <button type="button" class="SOS"><a href='@Url.Action("SOS", "Home")'>Llamar a contacto</a></button>
  <button type="button" class="SOS"><a href='@Url.Action("SOS", "Home")'>Policía</a></button>
  <button type="button" class="SOS"><a href='@Url.Action("SOS", "Home")'>Ambulancia</a></button>
  <button type="button" class="SOS"><a href='@Url.Action("SOS", "Home")'>Bomberos</a></button>
<button type="button" class="btn btn-outline-danger">Danger</button>

</div>


 
 

