@{
    ViewData["Title"] = "Menu";
}
 @foreach (Orbit item in ViewBag.orbits){
      <img src='@ViewBag.item.foto' alt="foto">
    <h5>@ViewBag.item.name</h5>
 }

<form method="post" action="index.html" target="_blank">
    <input type="text" placeholder="Pegá el link para unirse a un Orbit">
    <button type="submit">
       Ingresar
    </button>
</form>