@{
    ViewData["Title"] = ViewBag.nombre;
}
<div class = "OrbitInside-css">
    <form method="post" action="" class="orbit-form">
        <div class="ui-input-container2">
            <input required="" placeholder="Buscar usuario" class="ui-input" type="text"/>
            <div class="ui-input-underline2"></div>
            <div class="ui-input-highlight2"></div>
        
        <div class="ui-input-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"></path>
            </svg>
        </div>
        </div>
        <button class="plus">
            <svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" viewBox="0 0 1024 1024">
                <path fill="#1f2b99" d="M512 0C229.232 0 0 229.232 0 512c0 282.784 229.232 512 512 512c282.784 0 512-229.216 512-512C1024 229.232 794.784 0 512 0m0 961.008c-247.024 0-448-201.984-448-449.01c0-247.024 200.976-448 448-448s448 200.977 448 448s-200.976 449.01-448 449.01M736 480H544V288c0-17.664-14.336-32-32-32s-32 14.336-32 32v192H288c-17.664 0-32 14.336-32 32s14.336 32 32 32h192v192c0 17.664 14.336 32 32 32s32-14.336 32-32V544h192c17.664 0 32-14.336 32-32s-14.336-32-32-32"/>
            </svg>
        </button>
    </form>
</div>


@if(ViewBag.mensaje != ""){
    <div class = "h2-orbitInside">
        <h2>@ViewBag.mensaje</h2>
    </div>
    
}

<div class = "OrbtInside-user">
    <h2>@ViewBag.nombre</h2>
    <div class = "ListaUsuarios">
        @if (ViewBag.usuarios != null)
        {
            @foreach (Usuario item in ViewBag.usuarios)
            {
                <img src='@item.foto' alt="foto">
                <h5>@item.nombre</h5>
            }
        }
    </div>
</div>


<!-- <section>
    <h1>Safeli Team</h1>
    <div class = "usuario-orbit">
        <img src="/images/foto-jaz.jpg" alt="foto-jaz">
        <div class = "text-orbit">
            <h3>jazarbe</h3>
            <h4>Ubicaci贸n: Yatay 240</h4>
        </div>

    </div>
    <div class = "usuario-orbit">
        <img src="/images/foto-dai.jfif" alt="foto-dai">
        <div class = "text-orbit">
            <h3>ddpyi</h3>
            <h4>Ubicaci贸n: Yatay 240</h4>
        </div>
        
    </div>
    <div class = "usuario-orbit">
        <img src="/images/IMG_8121.jpeg" alt="foto-joaco">
        <div class = "text-orbit">
            <h3>AuraMan</h3>
            <h4>Ubicaci贸n: Yatay 240</h4>
        </div>
        
    </div>
    <div class = "usuario-orbit">
        <img src="/images/default.jpg" alt="foto-ciro">
        <div class = "text-orbit">
            <h3>cirif</h3>
            <h4>Ubicaci贸n: Yatay 240</h4>
        </div>
        
    </div>
</section> -->

