@{
    ViewData["Title"] = "@ViewBag.nombre";
}

<div class="Link">
    <h2>@ViewBag.name</h2>

    <p>Copiar enlace de invitacion</p>

    <input type="text" id="linkOrbit" value="@ViewBag.LinkCompleto" readonly class="input-link" />

    <button type="button" onclick="copiarLink()" class="btn-copiar">Copiar link</button>
</div>

<script>
function copiarLink() {
    const copyText = document.getElementById("linkOrbit");
    copyText.select();
    document.execCommand("copy");
    alert("¡Link copiado al portapapeles!");
}
</script>