*{
  font-family: "Noto Sans", sans-serif;
  margin: 0%;
  padding: 0%;
  /* font-family: 'Coolvetica', sans-serif; */

  /* paleta de colores */
  --color1: #1f2b99;
  --color2: #58ccb5;
  --color3: #5aadd7;
  --color4: #65e6e1;
  --color5: #f0fbfb;
  --blanco: #ffffff;
  --gris: #9CA3AF;
  --rojo: #BA0000;
}
body{
  position: relative;
  min-height: 100vh;
}

img{
  width: 50%;
  height: auto;
  display: flex;
  justify-self: center;
}

/*CHECKBOX - INDEX*/
.checkbox-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.checkbox-container input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  accent-color: var(--color2); /* color del tick */
  cursor: pointer;
}


/*FOOTER*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div button{
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  border-radius: 50%;
  padding: 2%;
  width: 13%;
  height: 13%;
}

footer ul li{
  list-style: none;
}

footer div ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

/*BORDE HEADER Y FOOTER*/
.borde {
  width: 100%; /* Ancho del rectángulo */
  height: 30px; /* Alto del rectángulo */
  background-color: var(--color1); /* Color de fondo */
}