*{
  font-family: "Noto Sans", sans-serif;
  margin: 0%;
  padding: 0%;
  /* font-family: 'Coolvetica', sans-serif; */

  /* paleta de colores */
  --color1: #1f2b99;
  --color2: #58ccb5;
  --color3: #5aadd7;
  --color4: #65e6e1;
  --color5: #f0fbfb;
  --blanco: #ffffff;
  --gris: #9CA3AF;
  --rojo: #BA0000;
}
body{
  position: relative;
  min-height: 100vh;
}

img{
  width: 50%;
  height: auto;
  display: flex;
  justify-self: center;
}

/*CHECKBOX - INDEX*/
.checkbox-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.checkbox-container input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  accent-color: var(--color2); /* color del tick */
  cursor: pointer;
}


.accordion-button::after {
  order: -1; /* mueve la flecha al inicio del botón */
  margin-right: .5em;
  margin-left: 0;
}



/*FOOTER*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div button{
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  border-radius: 50%;
  padding: 2%;
  width: 13%;
  height: 13%;
}

footer ul li{
  list-style: none;
}

footer div ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

/*BORDE HEADER Y FOOTER*/
.borde {
  width: 100%; /* Ancho del rectángulo */
  height: 30px; /* Alto del rectángulo */
  background-color: var(--color1); /* Color de fondo */
}

/*#INICIO*/
h1{
  text-align: center;
}

.input-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.input-center input{
  width: 250px;
  padding: 3%;
  border: 1.5px solid var(--color1);
  border-radius: 8px;
  font-size: 14px;
  color: #333;
}

/*CONTRASEÑA*/
.passw{
  position: relative;
  width: 275px;;
}

.passw input{
  width: 100%;
  box-sizing: border-box;
  padding: 4%;
  margin-bottom:1% ;
}

.passw i{
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color1);
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  padding: 4px;
}

.passw i:hover{
  background: var(--color1);
  color: #fff;
  transition: 0.5s;
}

input::placeholder{
  padding: 1%;
  margin: 2%;
  text-align: center;
}

/*TE OLVIDASTE LA CONTRA?*/
a{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color3);
}

a:visited{
  color: var(--color2);
}

/*MANTENERME INICIADO*/
.checkbox-div{
  display: flex;
  align-items: center;
  display: inline-block;
  vertical-align: top;
}